* {
    margin: 0;
    outline: 0;
    box-sizing: border-box;
    font-size: 3vw;
    /* font-family: 'Open Sans', sans-serif; */
    /* color: white; */
}

body {
    /* background-image: url('../assets/bike_racks.jpeg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    /* opacity: 0.6; */
    background-color: darkgrey;
    width: 100vw;
    min-height: 100vh;
}

#file {
    transform: translateX(-3000px);
}

#label-file {
    cursor: pointer;
    border: 0.5vw white solid;
    border-radius: 3vw;
    background-color: darkgrey;
    color: white;
    padding: 1vw 3vw;
    margin: 1vw 3vw;
}

#label-file:hover{
    background-color: white;
    color: darkgrey;
}

input {
    cursor: pointer;
    border: 0.5vw white solid;
    border-radius: 3vw;
    background-color: white;
    color: darkgrey;
    padding: 1vw 3vw;
    margin: 1vw 3vw;
}

input::-webkit-input-placeholder {
    color: darkgrey;
}

button {
    cursor: pointer;
    border: 0.5vw white solid;
    border-radius: 3vw;
    background-color: white;
    color: darkgrey;
    padding: 1vw 3vw;
    margin: 1vw 3vw;
}

button:hover {
    color: white;
    background: none;
}

.link {
    cursor: pointer;
    text-decoration: none;
    color: purple;
}

.link:hover {
    background-color: pink;
    color: black;
}

#error-message {
    background-color: red;
    border-radius: 3vw;
    padding: 5vw;
}

#welcome-component {
    background-color: blue;
    border-radius: 3vw;
    padding: 3vw;
}

#logo-component {
    background-color: purple;
    border-radius: 3vw;
    padding: 3vw;
}

#registration-component {
    background-color: yellow;
    border-radius: 3vw;
    padding: 3vw;
}

#login-component {
    background-color: green;
    border-radius: 3vw;
    padding: 3vw;
}

#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#welcome-component #logo-component h1 {
 font-size: 100px;
}


#profile-pic-img {
    width: 20vw;
    padding: 1vw;
    border: 0.5vw white solid;
    border-radius: 50%;
}

#uploader-component {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

#uploader-popup {
    position: fixed;
    top: 20vh;
    left: 20vw;
    bottom: 20vh;
    right: 20vw;
    padding: 1vw;
    background-color: darkgrey;
    border: 0.7vw solid white;
    border-radius: 3vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#uploader-x {
    font-size: 4vw;
    cursor: pointer;
    margin-left: auto;
    margin-bottom: auto;
}

#uploader-form {
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
